@font-face {
    font-family: "Goldman-Regular";
    src: url("/assets/fonts/goldman/Goldman-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Northwell";
    src: url("/assets/fonts/Northwell/Northwell.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Northwell-Alt";
    src: url("/assets/fonts/Northwell/Northwell-Alt.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Northwell-Swash";
    src: url("/assets/fonts/Northwell/Northwell-Swash.ttf");
    font-weight: normal;
    font-style: normal;
}

// $font--primary: "Fira Sans", sans-serif;

// body {
//   font-family: $font--primary;
// }
