.blog-wrapper {
    padding: 15px;
    overflow: hidden;
}

.simple-pagination {
    ul {
        margin: 0 0 20px;
        padding: 0;
        list-style: none;
        text-align: center;
    }
    li {
        display: inline-block;
        margin-right: 5px;
        a,
        span {
            color: #666;
            padding: 5px 10px;
            text-decoration: none;
            border: 1px solid #eee;
            background-color: #fff;
            box-shadow: 0px 0px 10px 0px #eee;
        }
    }
    .current {
        color: #fff;
        background-color: blue;
        border-color: blue;
    }
    .prev.current,
    .next.current {
        background: #393dff;
    }
}