$font--sans-serif: proxima-nova, Lato, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$font--serif: "Times New Roman", Times, serif;

$background--color: #1e2023;
$icon--color: #1e2023;
$font--color: #000000;
$font--color--active: #000000;
$font--primary: "Fira Sans", sans-serif;
$transition--length: 0.8;


$color_white: #fff;
$color_prime: blue;
$color_grey_light: rgb(241, 243, 246);
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;
$color_grey_dark2: rgb(92, 107, 122);
